<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="site.css">
    <title>{{ site.title }}</title>
</head>
<body>
    <nav> 
        <div class="nav-img">
            <h1>DotBot: the Open Didatic Robot</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A
                ccusantium deleniti, dolorem sit illo doloremque veritatis 
                corporis voluptatem quo error ab?</p>
            <button> Press </button>
        </div>
        <div class="navigator">
            <ul>
                <li>Home</li>
                <li>Link1</li>
                <li>Link2</li>
            </ul>
        </div>
    </nav>
    <main>
        <div>
            prova prova
        </div>
    </main>
    <footer>
        footer
    </footer>
</body>
</html>


