<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="site.css">
    <title>{{ site.title }}</title>
</head>
<body>
    <nav> 
        <div class="nav-img">
            <h1>DotBot: the Open Didatic Robot</h1>
            <p>DotBot combines open-source hardware and rapid prototyping techniques with an online community of teachers and makers. </p>
            <a href="https://www.facebook.com/dotbot.io" target="_blank" class="button"> Follow us on Facebook </a>
        </div>
        <!-- div class="navigator">
            <ul>
                <li>Home</li>
                <li>Link1</li>
                <li>Link2</li>
            </ul>
        </div -->
    </nav>
    <main>
        <div>
            <p>
                DotBot was born in 2016 thanks to the effort of <strong>Michele Maffucci</strong> (mainly)
                and Ludovico Russo!
            </p>
            
            <p>
                The main goal of the project is to design and develop a general teaching platform 
                to spread educational robotics.
            </p>

            <p> This page is under contraction, we will add soon information about the project,
                but you can find lots of material on the <a href="http://www.maffucci.it/dotbot/">Michele Maffucci persona site</a> 
                (sorry, it's in Italian), and on <a href="https://www.thingiverse.com/Dotbot-io/designs">Thingiverse</a>.
            </p>
            <p>
                Want to help use documenting and contribute to the project? Send us an email at ludus dot russo at gmail dot com.
            </p>
        </div>
    </main>
    <!-- footer>
        footer
    </footer -->
</body>
</html>


